*{
    margin: 0;
    padding: 0;
}
.home h2{
    color: #FE1936;
}

.home button{ 
    width: 100px;
    min-height: 20%;
    background-color: #D93F3F;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    text-align: center;
}

.home input{
    min-height: 25px;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}
